{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "importSource": "hono/jsx"
      }
    },
    "target": "es2022"
  },
  "module": {
    "type": "es6"
  }
}
